<h1>ショッピングカート</h1>

<%= link_to "カートを空にする", customer_cart_products_all_destroy_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>

<table class="table　table-inverse">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
    </thead>
    <% @cart_products.each do |cart_product| %>
        <tbody>
            <tr>
                <td><%= cart_product.name %></td>
                <td><%= cart_product.quantity %></td>
                <td>
                    <%= form_for(@cart_product, url: customer_cart_products_update_path) do |f| %>
                        <%= f.number_field :quantity %>
                        <%= f.submit "変更" %>
                    <% end %>
                </td>
                <td>小計表示</td>
                <td>
                    <%= link_to "削除する", customer_cart_products_destroy_path(@cart_product), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
                </td>
            </tr>
        </tbody>
    <% end %>
</table>

<%= link_to "買い物を続ける",　customer_products_index_path, class: "btn-sm btn-primary" %>

<table class="table table-inverse">
        <tr>
            <th>合計金額</th>
        </tr>
        <tr>
        <td>合計金額を表示</td>
    </tr>
</table>

<%= link_to "買い物を続ける",　customer_orders_new_path, class: "btn-sm btn-success" %>
