<div class="col-lg-1"> </div>
<div class="container">
    <div class="row">  
        <div class="col-lg-10">
<%# body %>
    <div class="title mb-2"><h3>注文履歴一覧</h3></div> 

 <table class="table">
　<thead>
		<tr>
            <th style="width:10%", class="warning">注文日</th>
			<th style="width:10%", class="warning">配送先</th>
			<th style="width:10%", class="warning">注文商品</th>
			<th style="width:10%", class="warning">支払い金額</th>
            <th style="width:10%", class="warning">ステータス</th>
            <th style="width:10%", class="warning">注文詳細</th>
		</tr>
    </thead>
    <% @orders.each do |order| %>
        <tbody>
            <tr>
                <td><%= order.created_at.strftime('%Y/%m/%d')  %>
                </td>
                <td><%= order.postal_code + order.address + order.name %>
                </td>
                <td><% order.order_products.each do |orderproduct| %>
                        <%= orderproduct.product.name %>
                    <% end %>
                </td>
                <td>
                    <%= order.total_price.to_s(:delimited) %>
                </td>
                <td>
                    <% if order.status == "payment_confirmation" %>
                    入金確認
                    <% elsif order.status == "in_production"  %>
                    製作中
                    <% elsif order.status == "preparing_delivery" %>
                    発送準備中
                    <% elsif order.status == "delivered" %>
                    発送済み
                    <% else order.status == "payment_waiting" %>
                    入金待ち
                    <% end %>
                </td>
                <td>
                    <%= link_to "表示する",customer_order_path(order), class: "btn-sm btn btn-warning" %>
                </td>
            </tr>
        </tbody>
        <% end %>
</table>


<%# body %>
        </div>
    <div>
</div>
<div class="col-lg-1"> 
</div>