
<%= form_with(model: @order, local: true, url: customer_orders_create_path) do |f| %>

<h3>注文情報入力</h3>

<h3>支払い方法入力</h3>
    <ul>
        <li>
            <%= f.radio_button :payment, :creditcard %>
            <%= f.label :payment, "クレジットカード", {value: :creditcard, style: "display: inline-block;"} %>
        </li>
        <li>
            <%= f.radio_button :payment, :bank %>
            <%= f.label :payment, "銀行振込", {value: :bank, style: "display: inline-block;"} %>
        </li>
    </ul>

<h3>お届け先</h3>
<ul>
        <li>
           
        </li>
        <li>
            <%= f.radio_button :address,1 %>
            <%= f.label :address, "ご自身の住所" %>
        </li>
        <li>
            <%= f.radio_button :address,2 %>
            <%= f.label :address, "登録済住所から選択" %>
            <% @deliveries_addresses.each do |delivery| %>
            <%= f.select :address, [[delivery, delivery] %>
            <% end %>
        </li>
        <li>
            <%= f.radio_button :address,3 %>
            <%= f.label :payment, "新しいお届け先" %>
            <%= f.label :postal_code %><%= f.text_field :postal_code %>
		    <%= f.label :address %><%= f.text_field :address %>
            <%= f.label :name %><%= f.text_field :name %>
	</div>
        </li>
    </ul>

<%= f.submit "確認画面へ進む" %>
<% end %>
