<div class="col-xs-1"> </div>
<div class="container">
    <div class="row">  
        <div class="col-xs-10">
        <%#ステップバー  %>
 <%= render 'customer/orders/step_bar2'%>
 
<%# body %>
    <div class="title mb-2"><h3>注文情報入力</h3></div> 
        <% if flash[:notice] %>
        <div id="error_explanation"><h4><%= flash[:notice] %></h4></div>
        <% end %>
    <div class="form-group col-xs-12　text-left m-2">
        <%= form_with(model: @order, local: true, url: customer_order_confimation_path(@order) , html: { id: "new-delivery-form"}) do |f| %>
            <%= render '/layouts/errors', obj: @order %>
             <%= render '/layouts/errors', obj: @add_delivery %>
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <b>支払い方法</b>
                </div>
                <div class="col-xs-10">
                    <ul>    
                        <li class="list-unstyled">
                         <div class="col-xs-12">
                            <div class="col-xs-4">
                                 <%= f.radio_button :payment, "クレジットカード" %>
                                <%= f.label :payment, "クレジットカード", {value: "クレジットカード" , style: "display: inline-block;"} %>
                            </div>
                        </div>
                        </li>
                        <div class="col-xs-12">
                            <li class="list-unstyled">
                                <div class="col-xs-4">
                                    <%= f.radio_button :payment, "銀行振込" %>
                                    <%= f.label :payment, "銀行振込", {value: "銀行振込", style: "display: inline-block;"} %>
                                </div>

                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-2">
                    <b>お届け先</b>
                </div>
                <div class="col-xs-10">
                        <ul>
                           <li class="list-unstyled">
                            <div class="col-xs-12">
                            <div class="col-xs-4">
                                <%= f.radio_button :delivery_address, "a" %>
                                <%= f.label :address, "ご自身の住所" %>
                            </div>
                            <div class="col-xs-8">
                                <div class="address_text"><%= current_customer.postal_code + current_customer.address%></div>
                                <div class="address_text"><%= current_customer.family_name + current_customer.first_name%></div>
                            </div>
                            </div>
                            </li>
                            <div class="col-xs-12">
                            <li class="list-unstyled">
                                <div class="col-xs-4">
                                    <%= f.radio_button :delivery_address, "b" %>
                                    <%= f.label :address, "登録済住所から選択" %>
                                </div>
                                <div class="col-xs-8">
                                        <%= f.collection_select :key, current_customer.deliveries, :id, :total_address %>
                                </div>
                            </li>
                            </div>
                            <div class="col-xs-12">
                            <li class="list-unstyled">
                                <div class="col-xs-4">
                                        <%= f.radio_button :delivery_address, "c" %>
                                        <%= f.label :address, "新しいお届け先" %>
                                </div>
                                <div class="col-xs-8">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5">
                                                <div class="address_text">郵便番号<br>(ハイフンなし)</div>
                                            </div>
                                            <div class="col-xs-7">
                                                <%= f.text_field :postal_code, id:"postalcode" %>
                                            </div>
                                         </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-5">
                                                <div class="address_text">住所</div>
                                            </div>
                                            <div class="col-xs-7">
                                                <%= f.text_field :address, id:"address"  %>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-5">
                                                <div class="address_text">宛名</div>
                                            </div>
                                            <div class="col-xs-7">
                                                <%= f.text_field :name, id:"name"  %>
                                            </div>
                                         </div>
                                </div>
                            </li>
                            </div>
                    </ul>
                </div>
        <div class="next-btn text-center m-5">
            <%= f.submit "確認画面へ進む", class:"btn btn-warning btn-lg next-btn" %>
        </div>
    <% end %>
    </div>
    </div>
<%# body %>
        </div>
    <div>
</div>
<div class="col-xs-1"> 
</div>