
<div class="container">
    <div class="row"> 
                        <%#ステップバー  %>
        <%= render 'customer/orders/step_bar3'%>
    </div>
<%# body %>   
    <div class="row"> 
        <div class="title"><h3>注文情報確認</h3></div> 
    </div>

    <div class="row"> 
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th class="warning">商品名</th>
                        <th class="warning">単価(税込)</th>
                        <th class="warning">数量</th>
                        <th class="warning">小計</th>
                    </tr>
                </thead>
                <% product_sum = 0 %>
                <% @cart_products.each do |cart_product| %>
                    <tbody>
                        <tr class="active">
                            <td><%= cart_product.product.name %></td>
                            <td><%= cart_product.product.unit_price.to_s(:delimited) %></td>
                            <td><%= cart_product.quantity %></td>
                            <td>
                            <% sumone = cart_product.quantity.to_i * cart_product.product.unit_price.to_i %>
                            <%= sumone.to_s(:delimited) %></td>
                        </tr>
                    </tbody>
                    <% product_sum += sumone %>
                <% end %>
            </table>
        </div>
        
        <div class="col-xs-4">
            <table class="table table-bordered">
            <tr class="active">
                <th class="warning">送料</th>
                <td><%= @order.postage.to_i %></td> <%# 修正予定 %>
            </tr>
                <tr class="active">
                <th class="warning">商品合計</th>
                <td><%= product_sum.to_s(:delimited) %></td>  <%# 修正予定 %>
            
            </tr>  
            <tr class="active">
                <th class="warning">請求金額</th>
                <% kaikei = product_sum + @order.postage %>
                <td><%= kaikei.to_s(:delimited) %></td>
            </tr>
            </table>
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-12">
            <div class="title"><h3>支払い方法</h3></div>
                <% if @order.payment == "クレジットカード" %>
                クレジットカード
                <% else %>
                銀行振込
                <% end %>
            <div class="title"><h3>お届け先</h3></div>
                〒<%= @order.postal_code.to_s + @order.address.to_s %>
                <%= @order.name %>
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-12">
                <%= form_with(model: @order, local: true, url: customer_orders_path, method: :post) do |f| %>
                <%= f.hidden_field :key_order_id, :value => @order.id %>
                <%= f.hidden_field :key_payment, :value =>  @order.payment %> 
                <%= f.hidden_field :key_postal_code, :value => @order.postal_code %> 
                <%= f.hidden_field :key_address, :value => @order.address %> 
                <%= f.hidden_field :key_name, :value => @order.name %> 
                <%= f.hidden_field :key_product_sum, :value => product_sum %>

            <div class="next-btn text-center m-5">
            <%= f.submit "購入を確定する", class:"next btn btn-warning btn-lg" %>
                <% end %>
                </div>
        <%# body %>
        </div>
    </div>
<div>
