<h3>注文詳細</h3>

<div class="table-block">
    <p>注文情報</p>
    <table>
    <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d')  %></td>
    </tr>
        <tr>
        <th>配送先</th>
        <td><%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %>
        </td>
    </tr>  <tr>
        <th>支払い方法</th>
        <td><%= @payment %></td>
    </tr>
    <tr>
        <th>ステータス</th>
        <td><%= @status %></td>
    </tr>
    </table>
</div>

<div class="table-block">
    <p>請求情報</p>
    <table>
    <tr>
        <th>商品合計</th>
        <td><%= @order.total_price.to_s(:delimited) %></td> <%# 修正予定 %>
    </tr>
        <tr>
        <th>配送料</th>
        <td><%= @order.postage.to_s(:delimited) %></td>  <%# 修正予定 %>

    </tr>  <tr>
        <th>ご請求額</th>
        <td><%= (@order.total_price + @order.postage).to_s(:delimited) %></td>
    </tr>
    </table>
</div>


<table>
    <thead>
	<tr>
	        <th>商品</th>
			<th>単価(税込)</th>
			<th>個数</th>
			<th>小計</th>
		</tr>
    </thead>
    <% @order_products.each do |order_product| %>
        <tbody>
            <tr>
                <td><%= order_product.product.name %></td>
                <td><%= order_product.purchase_unit_price.to_s(:delimited) %></td>
                <td><%= order_product.quantity %></td>
                <td><%  unitsum = order_product.quantity * order_product.purchase_unit_price %>
                    <%= unitsum.to_s(:delimited)%></td>
            </tr>
        </tbody>
    <% end %>
</table>