<h1>注文履歴詳細</h1>

<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<%= form_with model: @order , url:admin_order_path(@order) do |f| %>
		<tr>
			<td>購入者</td>
			<td><%= f.customer.family_name + f.customer.first_name %></td>
		</tr>
		<tr>
			<td>配送先</td>
			<td><%= f.postal_code + f.address + f.name %></td>
		</tr>
		<tr>
			<td>支払方法</td>
			<td><%= f.payment %></td>
		</tr>
		<tr>
			<td>注文ステータス</td>
			<td>
				<%= f.select :status, [["入金待ち","0"],["入金確認","1"],["製作中","2"],["発送準備中","3"],["発送済み","4"]] %>
				<%= f.submit "更新",class: "btn btn-primary" %>
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-hover">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= @order_product each do |f| %>
		<tr>
			<td><%= f.product.name %></td>
			<td>converting_to_jpy(<%= f.purchase_unit_price %>)</td>
			<td><%= f.quantity %></td>
			<td>converting_to_jpy(<%= f.purchase_unit_price %>*<%= f.quantity %>*1.1).round</td>
			<td>
				<%= f.select :status, [["着手不可","0"],["製作待ち","1"],["製作中","2"],["製作完了","3"]] %>
			</td>
			<td><%= link_to "更新", admin_order_path(f),class: "btn btn-primary" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div>
	<p>商品合計</p>
	<%=converting_to_jpy(@order.total_price) %>
	<p>送料</p>
	<%= converting_to_jpy(@order.postage) %>
	<p>請求金額合計</p>
	<%= converting_to_jpy(@order.total_price %> + <%= @order.postage) %>
</div>