<div class="container">

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>注文履歴詳細</h1>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<%= notice %>
			<table>
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>購入者</td>
						<td><%=link_to @order.customer.family_name + @order.customer.first_name,admin_customer_path(@order.customer) %></td>
					</tr>
					<tr>
						<td>配送先</td>
						<td>〒<%= @order.postal_code + @order.address + @order.name %></td>
					</tr>
					<tr>
						<td>支払方法</td>
						<td><%= @order.payment %></td>
					</tr>
					<tr>
						<td>注文ステータス</td>
						<td>
							<%= form_with model: @order , url: admin_order_path(@order) do |f| %>
							<%= f.select :status, [["入金待ち","入金待ち"],["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]] %>
							<%= f.submit "更新",class: "btn btn-primary" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-7">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>製作ステータス</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @order_product.each do |g| %>
					<tr>
						<td><%= g.product.name %></td>
						<td align="center"><%= ((g.purchase_unit_price * 1.1).round).to_s(:delimited) %></td>
						<td align="center"><%= g.quantity %></td>
						<td align="center"><%= ((g.purchase_unit_price * g.quantity * 1.1).round).to_s(:delimited) %></td>

						<%= form_with model: g , url: admin_order_product_path(g) do |h| %>
						<td align="center">
							<%= h.select :status, [["着手不可","着手不可"],["製作待ち","製作待ち"],["製作中","製作中"],["製作完了","製作完了"]] %>
						</td>
						<td align="center"><%= h.submit "更新",class: "btn btn-primary" %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-3">
			<table>
				<thead>
					<tr><td>ede</td><td>defre</td></tr>
				</thead>
				<tbody>
					<tr>
						<td>商品合計</td>
						<td align="right"><%=@order.total_price.to_s(:delimited) %>円</td>
					</tr>
					<tr>
						<td>送料</td>
						<td align="right"><%=@order.postage.to_s(:delimited) %>円</td>
					</tr>
					<tr>
						<td>請求金額合計</td>
						<td align="right"><%= (@order.total_price + @order.postage).to_s(:delimited) %>円</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-xs-1"></div>
</div>