<h1>注文履歴詳細</h1>

<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr>
			<td>購入者</td>
			<td><%= @order_customer.family_name %><%= @order_customer.first_name %></td>
		</tr>
		<tr>
			<td>配送先</td>
			<td></td>
		</tr>
		<tr>
			<td>支払方法</td>
			<td></td>
		</tr>
		<tr>
			<td>注文ステータス</td>
			<td></td>
		</tr>
	</tbody>
</table>

<table class="table table-hover">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= @order_product each do |f| %>
		<tr>
			<td><%= f.product.name %></td>
			<td><%= f.purchase_unit_price %></td>
			<td><%= f.quantity %></td>
			<td>converting_to_jpy(<%= f.purchase_unit_price %>*<%= f.quantity %>*1.1).round</td>
			<td>
				<!-- <%= form_with model: @order_product , url:admin_order_path(@order_pruduct) do || %> -->
				<%= f.select :sales_status, [["着手不可","0"],["製作待ち","1"],["製作中","2"],["製作完了","3"]] %></td>
			<!-- <td><%= f.submit "更新",class: "btn btn-primary" %></td> -->
		</tr>
		<% end %>
	</tbody>
</table>

<!-- 商品合計
送料
請求金額合計 -->