<%= each  %>
product_categories.name

<h4>>ジャンル検索</h4>
<%= link_to 'ケーキ', customer_products_index_path %><br>
<%= link_to '焼き菓子', customer_products_index_path %><br>
<%= link_to 'プリン', customer_products_index_path %><br>
<%= link_to 'キャンディ', customer_products_index_path %>