

<% @categories.products.each do |category| %>
    <%= link_to customer_product_path(product.id) do %>
        <%= attachment_image_tag category, :product_image, :fill, 300, 300, format: 'jpeg', fallback: "no-image-mini.jpg" %>
    <% end %>
    <%= link_to categories.name, customer_product_path(product.id) %>
    <%= category.description %>
    <p><%= product.unit_price.to_s(:delimited) %>円</p>
<% end %>