

<div class="container">
    <div class="row section1">
        <div class="col-lg-2">
            <%= render 'customer/products/category', category: @category %>
        </div>
            <div class="col-lg-8 message">
                <h2>商品一覧</h2>
                    <% @products.each do |product| %>
                        <div class="main-contet">
                            <%= link_to customer_product_path(product.id) do %>
                                <%= attachment_image_tag product, :product_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image-mini.jpg", class: "img-circle" %><br>
                            <% end %>
                            <div class="price">
                                <%= link_to product.name, customer_product_path(product.id) %>
                                <%= product.unit_price.to_s(:delimited) %>円
                            </div>
                            <% if product.favorited_by?(current_customer) %>
                                <%= link_to customer_product_favorites_path(product), method: :delete, remote: true do %>
                                    <span class="glyphicon glyphicon-heart"><%= product.favorites.count%></span>
                                <% end %>
                            <% else %>
                                <%= link_to customer_product_favorites_path(product), method: :post, remote: true do %>
                                    <span class="glyphicon glyphicon-heart-empty"><%= product.favorites.count %></span>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                    <%= paginate @products %>
            </div>
    </div>
</div>
