<div class="container">
    <div class="row section1">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <%= render 'customer/products/category', category: @category %>
        </div>
        <div class="col-xs-1"></div>
                    <div class="col-xs-7">
                        <div class="product-show">
                            <h2>商品詳細</h2>
                        </div>
                           <%= attachment_image_tag @product, :product_image, :fill, 300, 300, format: 'jpeg', fallback: "no-image-mini.jpg", class: "img-circle" %>
                           <h2><%= @product.name  %></h2>
                           <%= @product.description %>
                           <p><%= @product.unit_price.to_s(:delimited) %>円</p>
                           <% if @product.favorited_by?(current_customer) %>
                                <%= link_to customer_product_favorites_path(@product), method: :delete, remote: true do %>
                                    <span class="glyphicon glyphicon-heart"><%= @product.favorites.count%></span>
                                <% end %>
                            <% else %>
                                <%= link_to customer_product_favorites_path(@product), method: :post, remote: true do %>
                                    <span class="glyphicon glyphicon-heart-empty"><%= @product.favorites.count %></span>
                                <% end %>
                            <% end %>
                        <%= form_with model: @cart_product, url: customer_cart_products_path(product_id: @product), local:true do |f| %>

                            <%= f.select :quantity, [[1, 1],[2, 2],[3, 3]] %>
                            <%= f.submit '商品をカートに追加'%>
                       <% end %>
                    </div>
    </div>
</div>