<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="title"><h3>商品一覧</h3></div>
			

			<%# 新規登録ボタン %>
			<div class= "right_bottom">
				<%= link_to new_admin_product_path do %>
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				<% end %>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th class="warning">商品ID</th>
						<th class="warning">商品名</th>
						<th class="warning">税抜価格</th>
						<th class="warning">ジャンル</th>
						<th class="warning">ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= link_to product.name, admin_product_path(product) %></td>
						<td><%= product.unit_price.to_s(:delimited) %></td>
						<td><%= product.product_category.name %></td>
						<td><% if product.sales_status == true %>販売中<% else %>売切れ<% end %></td>
					</tr>
					<% end %>
					<%= paginate @products %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>