<h1>商品詳細</h1>

<div class="row">
	<div class="col-sm-4">
		<%= attachment_image_tag @product, :product_image, size: "100x100",format:'jpeg', fallback: "no-image-mini.jpg" %>
	</div>

	<div class="col-sm-4">
		<p>商品名</p>
		<%= @product.name %>
		<br>
		<p>商品説明</p>
		<%= @product.description %>
		<br>
		<p>ジャンル</p>
		<%= @product.product_category.name %>
		<br>
		<p>税込価格(税抜価格)</p>
		<%= converting_to_jpy((@product.unit_price * 1.1).round) %> (<%= converting_to_jpy(@product.unit_price) %>)円
		<br>
		<p>販売ステータス </p>
		<% if @product.sales_status == true %>販売中
		<% else %>
		売切れ
		<% end %>
	</div>

	<div class="col-sm-4">
		<%= link_to "編集する",edit_admin_product_path(@product),class: "btn btn-primary" %>
	</div>