<% if @model == 'customer' %>
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="title"><h3>'<%= @content %>'会員一覧</h3></div>
      <br>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="warning">会員ID</th>
            <th class="warning">氏名</th>
            <th class="warning">メールアドレス</th>
            <th class="warning">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |f| %>
          <tr class="active">
            <td><%= f.id %></td>
            <td>
              <%= link_to admin_customer_path(f) do %>
              <%= f.family_name %><%= f.first_name %>
              <% end %>
            </td>
            <td><%= f.email %></td>
            <td><% if f.deleted_at %>
              退会済み
              <% else %>
              有効
              <% end %>
            </td>
          </tr>
          <% end %>
          <%= paginate @records %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<% else @model == 'products' %>
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="title"><h3>'<%= @content %>'商品一覧</h3></div>

      <%# 新規登録ボタン %>
      <div class= "right_bottom">
        <%= link_to new_admin_product_path do  %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true" style="font-size:30px;"></span>
        <% end %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="warning">商品ID</th>
            <th class="warning">商品名</th>
            <th class="warning">税抜価格</th>
            <th class="warning">ジャンル</th>
            <th class="warning">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |g| %>
          <tr class="active">
            <td><%= g.id %></td>
            <td><%= link_to g.name, admin_product_path(g) %></td>
            <td><%= g.unit_price.to_s(:delimited) %></td>
            <td><%= g.product_category.name %></td>
            <td><% if g.sales_status == true %>販売中<% else %>売切れ<% end %></td>
          </tr>
          <% end %>
          <%= paginate @records %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
<% end %>